/*
LAYOUT: Two-Column (Left)
DESCRIPTION: Two-column fluid layout with one sidebars left of content
*/

#container {
        float: right;
        margin: 0 0 0 -245px;
        width: 100%;
}
#content {
        margin: 0 0 0 245px;
        padding: 0 0 10px 10px;
}
#primary, #secondary {
        float: left;
        overflow: hidden;
        width: 225px;
}
#secondary {
        clear: left;
}
#footer {
        clear: both;
        width: 100%;
}